<html>
    <head></head>
    <body>
        <h1>¿?Django girls¿?</h1>

        {% for libro in libros_mostrar %}
            <div>
                <h2>Nombre: {{libro.nombre}}</h2>
                <h2>Biblioteca: {{libro.biblioteca.direccion}}</h2>
                <h2>Autores</h2>
                <ul>
                    {% for autor in libro.autores.all%}
                        <li>{{ autor.nombre }}</li>
                    {% endfor %}
                </ul>

                <p>Fecha Publicación: {{libro.fecha_publicacion}}</p>
                <h3>Idioma: {{libro.get_tipo_display}}</h3>
                <p>Descripción: {{libro.descripcion}}</p>
            </div>

        <h2>MOSTRAR LIBRO CONCRETO</h2>
        <a href="{% url 'dame_libro' libro.id %}">Pulsa para ver con más detalle</a>
        <p>
            <a href="{% url 'dame_libros_fecha' libro.fecha_publicacion.year libro.fecha_publicacion.month %}"> 
                Pulsa para ver libros del mismo año y mes
            </a>
        </p>
        <a href="{% url 'dame_libros_idioma' libro.tipo%}">
            PUlsa para ver libros del mismo idioma o español
        </a>

        <ul>
            <li><a href="{% url 'dame_libros_biblioteca' 6 'start'%}">LIbros cuya descripción contenga start</a></li>
        </ul>

        <h3>
            Último cliente que se llevó el libro:
            <a href="{% url 'ultimo_cliente_libro' libro.id %}">Último cliente que se llevó el libro</a>
        </h3>
        {% endfor %}


    </body>
</html>